body {
	background: #8890cf;
	color:#f4f4f4;
}
header {
    background-color: #8890cf;
    height: 60px;
  }
  .cartOne{
    flex: 1 1 280px;
      margin:10px;
      background: #c3caff;
    border: 1px solid rgba(0, 0, 0, 0.5);
 
 border-radius: 30px;
 }
.theme-button {
	color: #f4f4f4;
	background: #3642a2;
}
.theme-button:hover {
	background: #121b5a;
}
.footer-wrapper{
    height: 194px;
    width: 1250px;
    display: flex;
    background-color:#c8c8c8;
    border-radius: 30px;
    flex-flow: row nowrap;
    
    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}